.resume-img {
  position: absolute;
  top: 10px;
  img {
    width: $image-size;
    height: $image-size;
    border-radius: 50%;
  }
}

.resume-title {
  @extend .main-item;
  @include flex-settings(center, center);
  text-align: center;

  h1 {
    font-size: 32px;
  }
}

.resume-split-line {
  @extend .main-item;
  width: 100%;
  border: 1px solid $gray-light;
}

.about-me {
  @extend .main-item;
  @include flex-settings(center, flex-start);
  &-title {
    @include title-color-settings($primary-color);
  }
}

.education {
  @extend .main-item;
  &-title {
    @include title-color-settings($primary-color);
  }

  &-content {
    &-item {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 10px;
    }

    &-year {
      flex-basis: 15%;
    }

    &-titDesc {
      @extend .main-item;
      background-color: $gray-light;
      padding: 10px;
    }

    &-title {
      font-weight: bold;
    }
  }
}
